<!DOCTYPE html>
<html  lang="en">

<body>
    <section class="menu cid-rzBM2nPFqW" once="menu" id="menu2-5">
	    <nav class="navbar navbar-expand navbar-dropdown align-items-right navbar-fixed-top navbar-toggleable-sm custom-nav sticky">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <title>Rushikesh's Personal Website</title>
            <meta content="" name="description">
            <meta content="" name="keywords">
          
            <!-- Favicons -->
            <link href="assets/img/favicon.png" rel="icon">
            <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
          
            <!-- Fonts -->
            <link href="https://fonts.googleapis.com" rel="preconnect">
            <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
          
            <!-- Vendor CSS Files -->
            <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="assets/vendor/aos/aos.css" rel="stylesheet">
            <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
            <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
          
            <!-- Main CSS File -->
            <link href="assets/css/main.css" rel="stylesheet">
          
            <!-- =======================================================
            * Template Name: iPortfolio
            * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
            * Updated: Jun 29 2024 with Bootstrap v5.3.3
            * Author: BootstrapMade.com
            * License: https://bootstrapmade.com/license/
            ======================================================== -->
          </head>
          
          <body class="index-page">
          
            <header id="header" class="header dark-background d-flex flex-column">
              <i class="header-toggle d-xl-none bi bi-list"></i>
          
              <div class="profile-img">
                <img src="assets/img/RBD_Profile_edit.png" alt="" class="img-fluid rounded-circle">
              </div>
          
              <a href="index.html" class="logo d-flex align-items-center justify-content-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Rushikesh</h1>
              </a>
          
              <div class="social-links text-center">
               <!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a> -->
                <a href="https://www.linkedin.com/in/dr-rushikesh-amrutsamanvar-30849349/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://scholar.google.com/citations?user=TYvvV3sAAAAJ&hl=en" class="linkedin"><i class="bi bi-mortarboard-fill"></i></a>
                <a href="https://github.com/rushikesh5887" class="linkedin"><i class="bi bi-github"></i></a>
                <a href="/home/rushikesh/Dropbox/Data_Science_CV/cv.pdf" class="linkedin"><i class="bi bi-file-earmark-person-fill"></i></a>
              </div>
          
              <nav id="navmenu" class="navmenu">
                <ul>
                  <li><a href="index.html" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
                  <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
                  <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Bio</a></li>
                  <li><a href="Publications.html"><i class="bi bi-mortarboard-fill"></i> Publications</a></li>
                  <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
                  <li class="dropdown"><a href="#"><i class="bi bi-menu-button navicon"></i> <span>More about me</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li class="dropdown"><a href="#"><span>My Hobbies</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                          <li><a href="#"> Places I lived </a></li>
                          <li><a href="./Trivia.html#travel"> Travel </a></li>
                          <li><a href="#"> Culture </a></li>
                          <li><a href="#"> Languages </a></li>
                          <li><a href="#"> Music </a></li>
                        </ul>
                      </li>
                      <li><a href="#">Dropdown 2</a></li>
                      <li><a href="#">Dropdown 3</a></li>
                      <li><a href="#">Dropdown 4</a></li>
                    </ul>
                  </li>
                  <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
                </ul>
              </nav>
          
            </header>
          
        </div>

    </nav>

</section>

<span id="pubc" class="anchor"></span>
<section class="mbr-section article content11 cid-rzBSird3Fz" id="content11-1d">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-16 col-md-12 mbr-fonts-style display-7">
                <h3 class="resume-title">Journal Articles </h3><br>
                <ol>
                    <li>
                        <strong>Amrutsamanvar R.</strong>
                        <a href="https://www.tandfonline.com/doi/full/10.1080/19427867.2020.1839718" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                          Modeling Lateral Movement Decisions of Powered Two Wheelers in Disordered Heterogeneous Traffic Conditions.
                        </a> 
                        <em><strong>Transportation Letters, Taylor & Francis.</strong></em> 14 (3), 195-214, (2022). 
                        <a href="assets/Publications/RBD_Lateral_Movement_Decisions.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>
                    
                    <li>
                        <strong>Amrutsamanvar R. B., </strong> Muthurajan B.R. </strong>&amp; Vanajakshi L.  D.
                        <a href="https://www.tandfonline.com/doi/full/10.1080/19427867.2019.1695563?src=recsys" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Extraction and Analysis of Microscopic Traffic Data in Disordered Heterogeneous Traffic Conditions.
                        </a> 
                        <em><strong>Transportation Letters, Taylor & Francis.</strong></em> 13 (1), 1-20, (2019). 
                        <a href="assets/Publications/RBD_Vetre.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        Deshpande P.D., <strong>Amrutsamanvar R. B., </strong>  </strong>&amp; Subramanian S.
                        <a href="https://www.sciencedirect.com/science/article/pii/S2405896320301075" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Vehicle Path Generation and Tracking in Mixed Road Traffic.
                        </a> 
                        <em><strong> International Federation of Automatic Control (IFAC)-PapersOnLine, Elsevier</strong></em> 53(1), 524-529, (2021). 
                        <a href="assets/Publications/RBD_Trajectory_Track.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        Chepuri,A., Borakanavar, M., <strong>Amrutsamanvar R. B., </strong>  </strong>&amp; Arkatkar, S., Joshi, G.
                        <a href="https://www.jstage.jst.go.jp/article/eastsats/5/1/5_30/_pdf" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Examining Travel Time Reliability under Mixed Traffic Conditions- A Case Study of Urban Arterial Roads in Indian cities.
                        </a> 
                        <em><strong> Asian Transport Studies.</strong></em> 5(1), 30-46, (2018). 
                        <a href="assets/Publications/RBD_JAS_2018.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>
                          
                </ol>
            </div>
        </div>

    </div>
</section>

<section class="mbr-section article content11 cid-rzBSird3Fz" id="content11-1d">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-16 col-md-12 mbr-fonts-style display-7">
                <h3 class="resume-title"> Conference Papers </h3><br>
                <ol>

                    <li>
                        Waller S.T., <strong>Amrutsamanvar R. B., </strong> Qurashi M., Sai Chand G., </strong>&amp;  Polydoropoulou A. 
                        <a href="#" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Automated Travel Demand and Network Modeling to Estimate Road Traffic Carbon Emissions: A Global City Comparison.
                        </a> 
                        <em><strong>Presented in 104th Annual Meeting Transportation Research Board.</strong></em>  Washington DC, Unites States of America, (2024). 
                    </li> <br>

                    <li>
                        <strong>Amrutsamanvar R. B., </strong> Qurashi M., Sai Chand G., </strong>&amp;  Waller S.T. 
                        <a href="https://ieeexplore.ieee.org/document/10146224" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Rapid Planning: Opportunities with Pervasive Data for Sustainable Mobility.
                        </a> 
                        <em><strong>Smart Cities Symposium 2023, IEEE.</strong></em>  Prague, Czech Republic, (2023). 
                        <a href="assets/Publications/RBD_TU_Prague.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        <strong>Amrutsamanvar R.,</strong> </strong>&amp; Vanajakshi L.  D.
                        <a href="https://www.springerprofessional.de/en/two-dimensional-following-behavior-analysis-of-powered-two-wheel/27132874" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Two-Dimensional Following Behavior Analysis of Powered Two-Wheelers Using Copula Approach.
                        </a> 
                        <em><strong>In proceedings of Traffic and Granular Flow 2022, Vol (443), Springer Singapore.</strong></em> New Delhi, India,  (2024). 
                        <a href="assets/Publications/Rushikesh_TGF2022_Final.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        <strong>Amrutsamanvar R.,</strong> Joshi G. J., Ravi Sekhar Ch. </strong>&amp; Arkatkar S. S. 
                        <a href="https://link.springer.com/chapter/10.1007/978-981-15-3742-4_11" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                            Empirical Travel Time Reliability Assessment of Indian Urban Roads.
                        </a> 
                        <em><strong>Recent Advances in Traffic Engineering. Lecture Notes in Civil Engineering, vol 69 (11), pp. 165-182, Springer Nature Singapore.</strong></em> Surat, India,  (2020). 
                        <a href="assets/Publications/RBD_RATE2018.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        <strong>Amrutsamanvar R.,</strong> </strong>&amp; Vanajakshi L.  D.
                        <a href="#" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Modeling Path Choice Behaviour of Powered-Two-Wheelers in Disordered Heterogeneous Traffic Conditions.
                        </a> 
                        <em><strong>Presented in 98th Annual Meeting Transportation Research Board.</strong></em>  Washington DC, Unites States of America, (2019).
                        <a href="assets/Publications/Rushikesh_TRB_2019.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        <strong>Amrutsamanvar R.,</strong> </strong>&amp; Vanajakshi L.  D.
                        <a href="#" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Empirical analysis of disordered heterogeneous traffic flow.
                        </a> 
                        <em><strong> Presented in ASCE India Conference on Urbanization Challenges in Emerging Economies.</strong></em>  New Delhi, India, (2017).
                        <a href="assets/Publications/Rushikesh_ASCE_2017.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        <strong>Amrutsamanvar R.,</strong> </strong>Muthurajan B.R. &amp;  Vanajakshi L.  D.
                        <a href="#" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           A Semi-Automated Image Processing Solution for Extracting Microscopic Traffic Data.
                        </a> 
                        <em><strong> Presented in 10th Urban Mobility India (UMI) and CODATU XVII Conference.</strong></em>  Hydrabad, India, (2017).
                        <a href="assets/Publications/RBD_IUT2017.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        Dhivyabharathi, B., Fulari, S., <strong>Amrutsamanvar R.,</strong> </strong> Vanajakshi, L., Subramanian,
                        S., &amp; Panda, M.
                        <a href="https://ieeexplore.ieee.org/abstract/document/7313328" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Performance Comparison of Filtering Techniques for Real Time Traffic. Density Estimation under Indian Urban Traffic Scenario.
                        </a> 
                        <em><strong> In proceedings 18th International Conference on Intelligent Transportation Systems Conference (ITSC), IEEE.</strong></em>  Gran Canaria, Spain, (2015).
                        <a href="assets/Publications/RBD_Kalman_Filter.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                         Fulari, S., Raj, V., <strong>Amrutsamanvar R.,</strong> </strong> &amp; Vanajakshi, L. 
                        <a href="#" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Delay estimation on urban arterials using vehicle sensor based data.
                        </a> 
                        <em><strong> In proceedings of Colloquium on Transportation Systems Engineering and Management.</strong></em>  Calicut, India, (2014).
                        <a href="assets/Publications/Rushikesh_Shrikant_NITC.pdf" 
                           target="_blank" 
                           style="color:  #8f6224; text-decoration: underline;">
                          <em>
                            <i class="bi bi-file-earmark-text" style="font-size: 30px;"> </i>
                          </em>
                        </a>
                    </li>

                    <li>
                        <strong>Amrutsamanvar R.,</strong> Joshi G. J., </strong>&amp; Ravi Sekhar Ch.
                        <a href="#" 
                           target="_blank" 
                           class="publication-link" 
                           style="color: #8f6224; text-decoration: underline;">
                           Relation between Travel Time Reliability and Space Mean Speed under Mixed Traffic Conditions - A Case Study of Urban Arterial in Surat.
                        </a> 
                        <em><strong>10th Eastern Asia Society for Transportation Studies (EASTS) conference on “Towards a harmonized transport society”.</strong></em> Taipei, Taiwan,  (2013). 
                    </li>
                    
                   

                          
                </ol>
            </div>
        </div>

    </div>
</section>
</html>
